
<section class="d-flex flex-column justify-content-between bg-danger" style="margin-bottom: 20px"> 
  <div class="text-right bg-danger btn-group" style='padding: 10px'>
  <% if current_user %>
    <%= link_to 'Log out', session_path, method: :delete, :class=>"text-right text-white btn btn-secondary text-white"  %>
    <div class="btn btn-primary">Welcome, <%= current_user.username %></div>
  <% else %>
    <%= link_to 'Sign Up', new_user_path, { :class=>"text-right text-white btn btn-secondary text-white"} %>
    <%= link_to 'Log In', new_session_path, { :class=>"text-right text-white btn btn-secondary text-white"} %>
  <% end %>
  </div>
  <div class="jumbotron container text-center bg-danger">
    <h1 class="jumbotron-heading text-white">FreeShelf</h1>
    <p class="lead text-white">Free Online Programming Books</p>
  </div>
</section>

<%if notice %>
  <p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>

<main role="main">
  <div class="container">
      <div class="row">
        <% @books.each do |book| %>
          <div class="col-md-4 album">
            <div class="card mb-4 shadow-lg">
              <% begin %>
                <%= image_tag book.image.thumb.url, :class => 'border-info ' %>
              <% rescue %>
              <% end %>
              <div class="card-body">
                <h4 class="text-center"><a href=<%= book.url %> ><%= book.title %></a></h4>
                <h6 class="text-center">By <%= book.author %></h6>
              </div> 
              <div class="card-footer"> 
                <div class="d-flex justify-content-center align-items-center btn-group">
                  <%= link_to 'View', book, { :class=>"btn btn-secondary text-white" } %>
                  <% if current_user && ( current_user.id  == book.user_id  || current_user.id == 1 ) %>
                    <%= link_to 'Edit', edit_book_path(book) , {:class=>"btn btn-secondary text-white"  }%>
                    <%= link_to 'Delete', book, method: :delete, :class=>"btn btn-danger text-white" ,data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </div>

                <% if (Time.now - book.updated_at).to_i < 60 %>
                  <small class="text-muted text-center">Last updated <%= (Time.now - book.updated_at).to_i %> sec. ago</small>
                <% elsif (Time.now - book.updated_at).to_i < 3600 %>
                  <small class="text-muted text-center">Last updated <%= (Time.now - book.updated_at).to_i / 60 %> min. ago</small>
                <% elsif (Time.now - book.updated_at).to_i < (3600 * 24) %>
                  <small class="text-muted text-center">Last updated <%= (Time.now - book.updated_at).to_i / 3600 %> hr. ago</small>              
                <% else %>
                  <small class="text-muted text-center">Last updated <%= (Time.now - book.updated_at).to_i / (3600 * 24) %> day(s) ago</small>
                <% end%>
                <br>
                <small class="text-muted text-center">Submitted by <%=User.find(book.user_id).username %></small>
              </div> 
            </div>
          </div>
        <% end %>
      </div>
  </div>
</main>

<%= link_to 'New Book', new_book_path %>

<p>
  Download:
  <%= link_to "CSV", books_path(format: "csv") %>
</p>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; FreeShelf</p>
  </div>
</footer>



