<%if notice %>
<p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>
<main role="main">

  <section class="jumbotron text-center bg-danger">
    <div class="container">
      <h1 class="jumbotron-heading text-white">FreeShelf</h1>
      <p class="lead text-white">Free Online Programming Books</p>
    </div>
  </section>

  <div class="container">
      <div class="row">
        <% @books.each do |book| %>
          <div class="col-md-4 album">
            <div class="card mb-4 shadow-lg">
              <% begin %>
                <%= image_tag book.image.thumb.url, :class => 'border-info' %>
              <% rescue %>
              <% end %>
              <div class="card-body">
                <h4 class="text-center"><a href=<%= book.url %> ><%= book.title %></a></h4>
                <h6 class="text-center">By <%= book.author %></h6>
              </div> 
              <div class="card-footer"> 
                <div class="d-flex justify-content-center align-items-center btn-group">
                  <%= link_to 'View', book, { :class=>"btn btn-secondary text-white" } %>
                  <%= link_to 'Edit', edit_book_path(book) , {:class=>"btn btn-secondary text-white"  }%>
                  <%= link_to 'Delete', book, method: :delete, :class=>"btn btn-danger text-white" ,data: { confirm: 'Are you sure?' } %>
                </div>
                <small class="text-muted text-center">Last updated <%=book.updated_at %></small>
              </div> 
            </div>
          </div>
        <% end %>
      </div>
  </div>
</main>

<%= link_to 'New Book', new_book_path %>

<p>
  Download:
  <%= link_to "CSV", books_path(format: "csv") %>
</p>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; FreeShelf</p>
  </div>
</footer>



